body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin: 0;
}  


h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: rgb(141, 54, 83);
}

header {
    width: 100%;
    height: fit-content;
    margin-bottom: 2%;
    background-color: palevioletred;
    border: solid 2px palevioletred;
    border-radius: 9px;
}

.topo {
    width: 90%;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: palevioletred;
}

.logo img {
width: 100px;
height: 100px;
}


.menu ul {
list-style: none;
margin: 0;
padding: 0;
}


.menu ul li {
    display: inline;
    border-left: solid 1px rgb(141, 54, 83);
    padding: 0 10px;
}

.menu ul li:first-child {
    border-left: none;
}


.menu ul li a {
    text-decoration: none;
    color: rgb(141, 54, 83);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 800;
}


.menu ul li a:hover {
    color:#e497b1;
}

.container {
    background-color: palevioletred;
    width: 50%;
    height: fit-content;
    align-items: center;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
}

.container h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.grupo-cards{
   display: flex;
    margin-top: 30px;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.card{
    /* background-color: rgb(235, 187, 215);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin-right: 4%;
    padding: 15px;
    margin-bottom: 20px;
    margin: 10px 50px 20px 0;
    box-shadow: 0 2px 5px rgb(0, 0,  0, 0, 384); */

    background-color:  #e497b1;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 2%;
    box-shadow: 0 2px 5px rgb(0, 0,  0, 0, 384);

}


.item {
    background-color: #ecc3e0;
    padding: 20px;
    margin: 20px 0;
    border-left: 6px solid#f184c4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(204, 199, 199, 0.05);
    transition: transform 0.2s ease;
    width: 253px;
    height: auto;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10px;
  }
  
  .item:hover {
    transform: scale(1.02);
  }
  
  .item strong {
    font-size: 1.1rem;
    color: #6f5394;
  }

  .item code {
    display: block;
    background-color: #f0f0f0;
    padding: 12px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 0.95rem;
    border-radius: 5px;
    overflow-x: auto;
  }

footer{
    text-align: center;
    background-color: palevioletred;
    align-items: center;
    margin-top: 4%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}